PORT=
MONGO_URI=

JWT_SECRET=
JWT_EXPIRE=7
COOKIE_EXPIRE=

SENDGRID_API_KEY=SG.UUwefwewrgI.efewfwewef
SENDGRID_MAIL=jhondoe@gmail.com
SENDGRID_RESET_TEMPLATEID=d-wefiniwnef1ewf848erg18er8

NODE_ENV=development